/*--------FONTS-------*/
@font-face {
  font-family: Archia Light;
  src: url("../assets/fonts/archia-light-webfont.woff");
}

@font-face {
  font-family: Archia Bold;
  src: url("../assets/fonts/archia-bold-webfont.woff");
}

/*-----*/
* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

body {
  background-color: #2C2C2C;
  margin: 20px 0px 0px 0px;
}

svg {
  transform: scale(0.7, 0.7);
}

/*-----*/
/*-------UPPER--------*/
.upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.legend {
  width: 285px;
  height: 150px;
  background-color: #1C1C1C;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px 5px 10px 20px;
}

.elements {
  display: flex;
}

.wrapper-camera {
  display: flex;
}

video {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  float: right;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.score {
  width: 110px;
  height: 70px;
  background-color: #1C1C1C;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  right: -18px;
  position: relative;
  z-index: -1;
  padding: 10px 5px 10px 10px;
}

/*-----LOWER------*/
.feedback {
  min-width: auto;
  height: 35px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 15px 0px 15px;
  display: inline-block;
  border-radius: 7px;
}

.forms {
  display: flex;
}

.forms>div {
  /* height: 500px; */
  /* width: 500px; */
  height: calc(500px - 88px);
  width: 33vw;
}

/*--------TEXT-------*/
h3 {
  font-family: Archia Bold;
}

p {
  font-family: Archia Light;
}

.item p {
  text-align: center;
  font-size: 0.7em;
}

#camOverlay {
  position: absolute;
  /* background-color: black; */
  z-index: 300000;
}

#predictions {
  display: none;
}
